.title_heading {
  padding: 50px 0 20px 0;
}

.title_heading_text {
  text-align: center;
  font-weight: bold;
}


/* @media only screen and (max-width: 600px) {


  .title_heading_text {
    font-size: 25px;
  }

} */